.header{
font-family: 'Space Mono', monospace;
background-color: red;
}
.container{
display: flex;
align-items: center;
margin-top: 0px;
}
.site-branding{
width: 30vw; 
}
.site-branding img{
width: 60%; height: auto; }
#site-navigation ul {
display: flex;
list-style: none; padding: 0; width: 50vw;
justify-content: flex-end;
text-transform: uppercase;
}
#site-navigation li {
margin-right: 20px; }
#site-navigation a {
text-decoration: none; }
#colophon{
display: flex;
}
.site-header {
display: flex;
align-items: flex-start;
flex-wrap: wrap;
justify-content: center;
text-decoration: none;
}
#menu-item-29{
text-decoration: none;
}
.menu a{
color: black;
font-weight: 400; font-size: 16px; line-height: 23.7px; }
@media (min-width: 1440px) {
.headerImg img {
width: 1440px; }
.container{
width: 1440px;
max-height: 80px;
padding-left: 100px;
padding-right: 100px;
}
.site-branding img{
width: 216px; height: 14px; margin-left: 146px;
}
#site-navigation{
margin-right: 146px;
}
}
@media (max-width: 768px){
.container{
width: 100%;
max-height: 100%;
padding-left: 0;
padding-right: 0;
margin-left: 10px;
margin-right: 0 !important;
justify-content: space-between;
}
.site-branding img{
width: 90%; height: auto; }
}