.container2{
    width: 100vw; 
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 
 #footer-navigation{
 
     padding: 0;
     margin: 0;
 }
 
 #footer-navigation ul {
     display: flex;
     list-style: none;
     padding: 0;
     width: 50vw;
     justify-content: space-between;

 }
 
 #footer-navigation li a {
 text-decoration: none; 
 text-transform: uppercase;
 font-family: "Space Mono", monospace; /* Utilise la police Space Mono */
 font-weight: 400; /* Poids de la police normal */
 font-size: 16px; /* Taille de la police 16 pixels */
 line-height: 23.7px; /* Hauteur de ligne 23.7 pixels */
 }
 
 @media screen and (max-width: 768px) {
         #footer-navigation ul {
             display: flex;
             list-style: none;
             padding: 0;
             width: 50vw;
             justify-content: space-between;
             font-family: "Space Mono", monospace;
             font-weight: 400;
             font-size: 16px;
             line-height: 23.7px;
             flex-direction: column;
             align-items: center;
         }
 }
 
 footer{
     border-top: 1px solid black; /* Couleur et style de votre bord supérieur */
     width: 100%; /* Largeur égale à 100% de la largeur de la fenêtre d'affichage */
     bottom: 0;
     border-top: 1px solid black;
     font-family: 'Space Mono', monospace;
 }

 
