.photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid {
    margin-top: 40px;
    max-width: 1440px;
    width: 100%;
    min-height: 2040px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.grid-item {
    flex: 1 0 45%;
    max-width: 590px;
}

.grid-item img {
    width: 584px; 
    height: 495px; 
    display: block;
    object-fit: cover; 
    overflow: hidden;
    position: relative;
}

.grid-item:hover::before {
    opacity: 1;
}
