.header{
    font-family: 'Space Mono', monospace;
    background-color: red;
}

.container{
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.site-branding{
    width: 30vw; 
}
.site-branding img{
    width: 60%; /* Réglez la largeur de l'image à 50% de la largeur de son conteneur */
    height: auto; /* Garantit que la hauteur s'ajuste automatiquement pour conserver les proportions de l'image */
}


#site-navigation ul {
    display: flex;
    list-style: none; /* Supprimez les puces de liste */
    padding: 0; /* Supprimez les marges intérieures */
    width: 50vw;
    justify-content: flex-end;
    text-transform: uppercase;
}

#site-navigation li {
    margin-right: 20px; /* Ajoutez de l'espace entre chaque élément de menu */
}

#site-navigation a {
    text-decoration: none; /* Enlever le soulignement des liens */
}

#colophon{
    display: flex;
}
.site-header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}
#menu-item-29{
    text-decoration: none;

}
.menu a{
    color: black;
    font-weight: 400; /* Poids de la police normal */
    font-size: 16px; /* Taille de la police 16 pixels */
    line-height: 23.7px; /* Hauteur de ligne 23.7 pixels */
}



@media (min-width: 1440px) {
    .headerImg img {
        width: 1440px; /* La largeur de l'image est fixée à 1440px sur les écrans d'au moins 1440px de large */
    }
    .container{
        width: 1440px;
        max-height: 80px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .site-branding img{
        width: 216px; /* Réglez la largeur de l'image à 50% de la largeur de son conteneur */
        height: 14px; /* Garantit que la hauteur s'ajuste automatiquement pour conserver les proportions de l'image */
        margin-left: 146px;
    }
    #site-navigation{
        margin-right: 146px;
    }
}

@media (max-width: 768px){

    .container{
        width: 100%;
        max-height: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 10px;
        margin-right: 0 !important;
        justify-content: space-between;
    }
    .site-branding img{
        width: 90%; /* Réglez la largeur de l'image à 50% de la largeur de son conteneur */
        height: auto; /* Garantit que la hauteur s'ajuste automatiquement pour conserver les proportions de l'image */
    }

}






