
/* Déclaration de la police Space Mono */
@font-face {
    font-family: 'SpaceMono';
    src: url('<?php echo get_template_directory_uri(); ?>/asset/fonts/SpaceMono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Déclaration de la police Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('<?php echo get_template_directory_uri(); ?>/asset/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


/* Utilisation de la police Space Mono */
.motaphoto-font {
    font-family: 'Space Mono', monospace;
}

/* Utilisation de la police Poppins */
.poppins-font {
    font-family: 'Poppins', sans-serif;
}

#masthead {
    background: linear-gradient(to bottom, #FFFFFF, #f2f2f2); /* Dégradé de blanc à gris clair */
    box-shadow: 0px 4px 14px 10px rgba(0,0,0,0.03); /* Ombre avec les paramètres spécifiés */
    Height: 80px;
}


#motaphoto1_settings_field_Photo_preview {
    margin-top: 10px;
    display: block;
}

.hero {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    width: 100%; /* Prend la largeur totale de son conteneur */
    max-width: 1440px; /* Maximum de 1440px de largeur */
    margin: 0 auto; /* Centrer horizontalement */
}

.hero img {
    max-width: 100%;
    height: auto; 
}


/* pour les bouton filtre ///////////////////////////////////////////////////*/

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;

}
        
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    border-radius: 0px 0px 8px 8px;
}    
        
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 228px;
}
.dropdown-content a:last-child {
    border-radius: 0px 0px 8px 8px;
}

.dropdown-content a:hover {
    background-color: #E00000;
}
        
.dropdown:hover .dropdown-content {
    display: block;
}
        

.dropbtn{
    width: 260px;
    height: 43px;
    border-radius:8px ;
    margin-right: 25px;
    text-align: left;
    margin-left: 10px;
}
.dropbtn2{
    width: 260px;
    height: 43px;
    border-radius:8px;
    text-align: left;
}
.filtres{
    display: flex;
    width: 66vw;
    
}
.filtres2{
    display: flex;
    width: 33vw;
    justify-content: flex-end;
}

.blocCategories {
    display: flex;
    max-width: 1190px;
    justify-content: center;
    margin: 0 auto; 
}


.chargerplus{
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100vw;
}


.dropbtn3{
    width: 260px;
    height: 43px;
    margin-bottom: 30px;
    }

   /* CSS pour la div contenant les détails de la photo et l'image */
.photo-details-container {
    max-width: 1200px; /* Largeur maximum */
    margin: 0 auto; /* Centrer la div horizontalement */
    display: flex; 
    align-items: flex-end;
    padding-top: 50px;
}

/* CSS pour les détails de la photo à gauche ///////////////////////////////////////*/
.photo-details {
    flex: 1; 
    box-sizing: border-box; 
    border-bottom: 1px solid black; 
    Width: 564px;
}

/* CSS pour l'image à droite ////////////////////////////////////////////*/
.photo-image {
    flex: 1; 
}

.photo-image img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}
.photo-details h2{
    font-weight: 400;
    font-size: 66px;
    line-height: 58px; 
    margin-bottom: 0;
    text-transform: uppercase;
    font-style: italic !important;
    font-family: 'SpaceMono';
}
    .photo-details p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20.73px;
    letter-spacing: 10%;
    text-transform: uppercase;
}
.flex-centre{
    display: flex;
    justify-content: center;
}
.dropbtn4{
    width: 260px;
    height: 43px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contact_photo{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid black;
}
.texte p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20.73px;
    margin-right: 80px;
    font-family: 'Poppins', sans-serif;
}


.fleche{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.fleche_2{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.fleche img{
    margin-left: 50px;
}


/* Réduire la taille des images à l'intérieur de .fleche */
.flex-centre .contact_photo .mignature .fleche img {
    width: 70% !important; /* Réduire la largeur à 20% */
    height: auto; /* Pour conserver le ratio de l'image */
}

/* Optionnel : centrer les images horizontalement dans .fleche */
.flex-centre .contact_photo .mignature .fleche {
    display: flex;
    justify-content: center;
}
/* Ajouter une marge à droite uniquement à la première image */
.flex-centre .contact_photo .mignature .fleche img:first-child {
    margin-right: 10px; /* Vous pouvez ajuster la valeur de la marge selon vos besoins */

}


/* Style pour la section "Vous aimerez AUSSI" et les photos similaires */

.photos-similaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.flex-centre2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flex-centre2 p{
text-align: left ;
font-family: 'Space Mono', monospace;
font-weight: 400;
font-size: 18px;
line-height: 26.66px;
letter-spacing: 10%;
margin-top: 50px;
}

.grid {
    min-height: 540px ;
    margin-bottom: 80px;
}


/* Styles pour la galerie de miniatures ///////////////////////////////////////////////////////////*/


.thumbnail-container {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0;
}
.gallery{
    justify-content: flex-end;
    margin-left: 100px;
}
.gallery-photo{
    justify-content: space-between;
}
#thumbnail-image{
width: 81px;
height: 71px;
object-fit: cover; 
overflow: hidden;
}
#previousPhoto{
height: 30px;
}
#nextPhoto{
height: 30px;
}
.visible img.photo-clickable {
    width: 1px;
    height: 1px;
}


/* Styles pour les flèches de navigation ///////////////////////////////////////////////////*/
.fleche2 {
    position: absolute;
    top: 50%; /* Placer la div au milieu de la hauteur de son conteneur */
    transform: translateY(-50%); /* Centrer verticalement la div */
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.fleche2 img {
    width: 107px !important; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
    cursor: pointer;
    top: 50vw;
    margin: 0 50px; /* Ajoute une marge de 50px à gauche et à droite */
}

/* bouton categorie//////////////////////////////////////////////*/
.category-option{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 3%;
    color: #313144;
}

.marge{
    font-family:'SpaceMono';
}

.formlight{
    display: flex;
}
/* miniature avec fleche*/
.lightbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caroussel{
    display: flex;
}

.previous-arrow{
    margin-right: 50px;
}


@media screen and (min-width: 1050px) and (max-width: 1190px){
   
    .filtres2 {/* filtre recherche/////////////////////////////////////*/
        display: flex;
        width: 33vw ;
        width: 50vw;
        justify-content: center;
    }
    .filtres{
        display: flex;
        width: 50vw;
        flex-direction: column;
        align-items: center;
    }
    .dropbtn {
        margin-right: 5px; 
    } 
    .filtres{
        display: flex;
        flex-direction: row;
    }
    .filtres2{
        display: flex;
        justify-content: flex-end;
    }
    
    .blocCategories {
        display: flex;
        max-width: 1190px;
        justify-content: center;
        margin: 0 auto;
    }
    .blocAnne{
        display: flex;
        width: 300px;
    }/* fin/////////////////////////////////////*/

    }

    @media screen and (min-width: 769px) and (max-width: 1050px){

        .filtres2 {/* filtre recherche/////////////////////////////////////*/
            display: flex;
            width: 33vw ;
            justify-content: flex-start;
            justify-content: center;
        }
        .filtres{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .dropbtn {
            margin-right: 5px;
        } 
        .blocCategories {
            display: flex;
            max-width: 1190px;
            justify-content: center;
            margin: 0 auto;
        }
        .blocAnne{
            display: flex;
            width: 300px;
            flex-direction: row;
            justify-content: flex-end;
        }/* fin/////////////////////////////////////*/

    }

    @media only screen and (max-width: 768px) {
        .photo-details-container {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: flex-end;
            padding-top: 50px;
            flex-direction: column-reverse;
        }
        .mignature img{
            display: none;
        }
        .contact_photo {
            display: flex;
            justify-content: space-evenly;
            max-width: 1200px;
            height: 118px;
            align-content: space-between;
            flex-direction: column !important;
            flex-wrap: nowrap;
            align-items: center;
            border-bottom: 1px solid black;
        }
        section {/* filtre recherche/////////////////////////////////////*/
            display: flex;
            max-width: 1190px;
            margin: 0 auto; 
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
        }
        .filtres {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        }
        .filtres2 {
            display: flex;
            width: 100vw !important;
            justify-content: center;
            align-items: center;
        }
        .filtres2 .dropdown{
            margin-right: 25px;
        }/* fin/////////////////////////////////////*/


        .centre7{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .photo-image img {
            width: 265px !important;
            height: auto;
            top: 92px;
            left: 56px;
        }
        .lightbox-trigger img{
            width: 265px !important;
            height: auto;
            top: 92px;
            left: 56px;
        }
        .photo-image{
            display: flex;
        }
        .photo-details-container{
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center !important;
            padding-top: 50px;
            margin-bottom: 25px;
        }
        .motaphoto-font{
            width: 265px;

        }
        #motafont{
            display: flex;
            width: 265px;
            flex-direction: column;
        }
        .photo-details-container{
            border-bottom: 1px solid black;
        }
        .photo-details {
            border-bottom: 0px solid black !important; 
        }
        .margel{
            margin-bottom: 40px;
        }
        .fleche,
        .fleche img{
            display: none;
        }
        .chargerplus{
            width: 100vw;
        }
        .filtres {
            display: flex;
            flex-direction: column; /* Aligner les éléments en colonne */
            align-items: center; /* Centrer horizontalement */
            justify-content: center; /* Centrer verticalement */
        }
        .dropbtn {
            margin-right: 10px !important;
        }    
        .visible img.photo-clickable {
            width: 1px !important;
            height: 1px !important;
        }
        
        .thumbnail-image,
        .caroussel,
        .arrow 
        {
            display:none;
        }
        .dropbtn4{
            margin-top: 0px;
        }

        .blocCategories {
            display: flex;
            max-width: 1190px;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }

      }
