/* Styles pour le menu burger */
.menu-toggle {
    display: none; /* Masque le bouton burger par défaut */
    cursor: pointer; /* Ajoute un curseur pointer pour indiquer qu'il est cliquable */
}


/* Styles pour le menu mobile */
.mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 1200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.mobile-menu.active{
    background-color: #E00000;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.mobile-menu ul li {
    padding: 10px;
}

.mobile-menu ul li a {
    color: #e2e2e2; /* Couleur du texte */
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Space Mono', sans-serif;
    font-size: 44px;
    line-height: 65.16px; 
}

/* Afficher le menu mobile lorsque le bouton burger est cliqué */
.menu-toggle.menu-open + .mobile-menu {
    display: block;
    background-color: #E00000;
}









/* Masquer le menu principal sur mobile */
@media screen and (max-width: 768px) {
    .main-navigation {
        display: none;
    }
    .menu-toggle {
        display: block;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer; /* Indicate clickable element */
        z-index: 1000;
    }
    .site-branding a {
        margin-left: 50px;
    }
    .container {
        margin-top: 10px;
    }
    .photo-details{
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: 15px;
    }
    .mobile-menu.active {
        display: block; /* Show on click */
      }
      .mobile-menu {
        display: none; /* Hide initially */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 10;
      }
      .menu-principal-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40vw;
    }
        #mobile-menu-list{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
}

