.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 597px;
    height: 769;
    border: 5px solid black;

}

#wpforms-29-field_1,
#wpforms-29-field_2,
#wpforms-29-field_3
{
    width: 263px;
    height: 40px;
    border-radius: 8px;
}

#wpforms-29-field_4{
    width: 263px;
    height:210px;
    border-radius: 8px;
    
}

.wpforms-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wpforms-submit-29{
    width: 263px;
    height: 40px;
    background-color: #D8D8D8;  
    color: black;
}

.wpforms-field-label{
    font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 768px){
    .modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 295px;
        height: 683px;
        border: 5px solid black;
    
    }
    .modal-content img{
        width: 286px;
        height: 55px;
    }
    #wpforms-29-field_1,
    #wpforms-29-field_2,
    #wpforms-29-field_3
    {
        width: 190px;
        height: 40px;
        border-radius: 8px;
    }

    #wpforms-29-field_4{
        width: 190px;
        height:149px;
        border-radius: 8px;
        border-color: 1px solid black;
        
    }



    #wpforms-submit-29{
        width: 190px;
        height: 40px;  
    }
    .wpforms-field-label{
        font-size: 12px !important; /* Taille de la police */
        line-height: 18px !important; /* Interligne */
        font-weight: 500 !important; /* Poids de la police */
    }
}