.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 597px;
    height: 769;
    border: 5px solid black;

}


.popup-image{
    width: 597px;
    height: 769;
}